<app-card header="Endereço">
    <div style="display:grid; gap:16px;">

        <app-form-input
            [control]="store.cep"
            label="CEP"
            type="post-code"
            errorMessage="CEP é obrigatório"
        ></app-form-input>

        <app-form-input
            [control]="store.state"
            label="Estado (UF)"
            type="text"
            errorMessage="Estado é obrigatório"
        ></app-form-input>

        <app-form-input
            [control]="store.street"
            label="Rua"
            type="text"
            errorMessage="Rua é obrigatória"
        ></app-form-input>

        <app-form-input
            [control]="store.neighborhood"
            label="Bairro"
            type="text"
            errorMessage="Bairro é obrigatório"
        ></app-form-input>

        <app-form-input
            [control]="store.number"
            label="Número"
            type="text"
        >
        </app-form-input>

        <app-form-input
            [control]="store.complement"
            label="Complemento (opcional)"
            type="text"
        ></app-form-input>

        <div style="display:flex; justify-content:space-between; gap:12px;">
            <app-button (action)="goBack()" variant="secondary" label="Voltar"/>
            <app-button (action)="save()" variant="primary" label="Salvar" [loading]="isLoading" />
        </div>
        
    </div>
</app-card>