:root {
  --font-family-base: 'Roboto', system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Arial, sans-serif;
}

body {
  font-family: var(--font-family-base);
}

.p-component {
  font-family: var(--font-family-base);
  font-weight: 400;
}
