<div class="card flex justify-center">
  <p-floatLabel variant="in">
    @if (mask) {
      <p-inputMask
        fluid
        [mask]="mask"
        [formControl]="control"
        [ngClass]="{ 'p-invalid': hasError }"
      />
    } @else {
      <input
        fluid
        pInputText
        [type]="type"
        [formControl]="control"
        [ngClass]="{ 'p-invalid': hasError }"
      />
    }

    <label>{{ label }}</label>
  </p-floatLabel>

  <small *ngIf="hasError" class="error">
    {{ errorMessage }}
  </small>
</div>
