<app-card header="Dados do usuário">
    <div style="display:grid; gap:16px;">

        <app-form-input
            [control]="store.firstName"
            label="Nome"
            type="text"
            errorMessage="Nome é obrigatório"
        ></app-form-input>

        <app-form-input
            [control]="store.lastName"
            label="Sobrenome"
            type="text"
            errorMessage="Sobrenome é obrigatório"
        ></app-form-input>

        <app-select
            inputId="gender"
            label="Gênero"
            [options]="genderOptions"
            [formControl]="store.gender"
            [required]="true"
        ></app-select>

        <div style="display:flex; justify-content:flex-end; gap:12px;">
            <button pButton type="button" label="Próximo" (click)="goNext()"></button>
        </div>

    </div>
</app-card>